.banner h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.banner {
    background-image: url('../images/pattern.jpeg');
    background-size: 5000px;
    margin-top: 30px;
    vertical-align: middle;
}

#title {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.description {
    font-family: Helvetica;
}

#prices {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.brushes {
    background-color: mediumspringgreen;
}


.frames {
    background-color: lightcoral;
}


.paint {
    background-color: skyblue;
}

